[credential]
  helper = osxkeychain

[user]
  name = Brianna Brown
  email = brianna.brown@optimumenergyco.com

[init]
  templatedir = ~/.git_template

[push]
  default = current
  followTags = true

[alias]

  # Custom script commands
  pull-request = "!$HOME/.dotfiles/bin/git/git-pull-request"
  current-branch = "rev-parse --abbrev-ref HEAD"


  # Shortcuts
  a = add
  b = branch
  bs = branches
  c = commit
  cl = clone
  co = checkout
  cp = cherry-pick
  fp = push --force-with-lease
  l = compact-log
  m = merge
  mbs = my-branches
  p = push --follow-tags
  pu = pull
  r = reset
  s = status


[commit]
  template = ~/.gitmessage

[fetch]
  prune = true

[rebase]
  autosquash = true

[diff]
  colorMoved = zebra

[status]
  showUntrackedFiles = all

[color]
  ui = auto

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "black bold red"
  newNormal = "green bold"
  newHighlight = "black bold green"

[merge]
  tool = vimdiff
  ff = only

[mergetool]
  prompt = true

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $MERGED $REMOTE -c '$wincmd w' -c 'wincmd J'

[rerere]
  enabled = true
